# Virtual environments
bandaplus_yolo/yolo_env/
**/venv/
**/env/

# Large Model Weights
*.pt

# YOLO output directories
runs/
bandaplus_yolo/temp_processing/

# Datasets
bandaplus_yolo/pothole-detection-1/
bandaplus_yolo/BandaPlus_Master_Dataset/
bandaplus_yolo/Fallen Trees Detection V1.yolov8/
bandaplus_yolo/Flood.v1i.yolov8/
bandaplus_yolo/Illegal Dumping.yolov8/
bandaplus_yolo/stray dogs.yolov8/
bandaplus_yolo/*.cache
